.idea/*
modelos/*
sql/*
public_html/subdomain/cdn/upload/*
app_application/config/defines.config.php
app_application/3rdparty/*
/app_application/3rdparty/*
app_application/3rdparty/respect/validation
app_application/3rdparty/smottt/wideimage
app_application/src/AppVialoja/tmp
/app_application/src/AppVialoja/tmp
app_application/src/AppVialoja/tmp/
/app_application/src/AppVialoja/tmp/
app_application/src/AppVialoja/tmp/*
/app_application/src/AppVialoja/tmp/*
app_application/src/AppVialoja/tmp/cache/persistent/*
app_application/src/ShoppingVialoja/tmp/*
app_application/src/StoreVialoja/tmp/*
admin_application/vendor/*
admin_application/config/app.php
admin_application/tmp/*
admin_application/logs/*
desk_application/vendor/*
desk_application/config/app.php
desk_application/tmp/*
desk_application/logs/*
